.form {
    width: 320px;
}

.label {
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
}

.input {
    display: inline-block;
    margin-top: 10px;
}

.errorMessage {
    color: red;
    display: inline-block;
    margin-top: 5px;
}